body {
  font-size: 14px;
}

// 비디오
.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 18px;
    // margin-bottom: 5px;
  }
  .video_meta {
    width: 100%;
    height: 33px;
    padding: 10px 0 15px 0;
    font-size: 14px;
    line-height: 33px;
    color: $grey;
    div:not(.menu_box) {
      display: inline-block;
      .likes {
        margin-right: 20px;
      }
    }
    .video_icons {
      float: right;
      font-size: 15px;
    }
  }
  .video_info {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    .video_owner_info {
      display: flex;
      flex-direction: row;
      height: 50px;
      span {
        display: inline-block;
        width: 100%;
      }
      .video__owner_avatar {
        width: 6%;
        .owner_avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          font-size: 50px;
        }
      }
      .video__owner {
        height: 100%;
        width: 95%;
        // margin-bottom: 5px;
        padding: 5px 0;
        .owner_name {
          display: inline-block;
          height: 50px;
          line-height: normal;
          // a {
          //   color: cornflowerblue;
          //   text-decoration: underline;
          // }
          .owner_sub {
            color: $grey;
            font-size: 12px;
          }
        }
      }
    }
    > span {
      float: right;
      width: 94%;
      padding-top: 15px;
    }
  }
  .comment_count {
    padding: 25px 0;
    font-size: 16px;
    .comment_sort {
      margin-left: 30px;
      cursor: pointer;
      font-size: 14px;
      vertical-align: top;
    }
  }
  a {
    width: fit-content;
  }
}

// 댓글 작성
.video__comment-form {
  textarea {
    display: inline-block;
    width: 100%;
    height: $height;
    resize: none;
    color: #fff;
    margin: 0 auto;
    background-color: rgba($color: $bg, $alpha: 0.7);
    border: none;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
    padding: 0;
  }
  textarea:focus {
    outline: none;
  }
  button {
    float: right;
    background-color: $bg !important;
    border: solid 1px #3b3b3b !important;
    color: #fff !important;
    box-shadow: 1px 1px 5px black;
    margin-left: 5px;
    margin-top: 5px;
  }
  .comment_save {
    background-color: #3b3b3b !important;
    color: #fff !important;
  }
}

// 댓글
.video__comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  > ul {
    margin-top: 10px;
  }
  .comment_avatar {
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 50%;
  }
  .video__comment-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    .comment__userIcon {
      width: 5%;
    }
    .comment_write {
      width: 95%;
    }
  }
  .video__comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 8px;
    .comment__userIcon {
      width: 5%;
      div,
      .comment_avatar {
        padding: 5px;
      }
    }
    .comment__else {
      margin: 0 auto;
      width: 95%;
      div:not(.menu_box) {
        padding: 5px;
      }
      .comment__text {
        word-break: break-all;
        white-space: pre-line;
        line-height: 20px;
      }
      .comment__createdAt {
        text-align: right;
        font-size: 12px;
        color: $grey;
        margin-left: 5px;
      }
      .comment__icons {
        color: $grey;
        margin: 0 auto;
        padding: 0 !important;
        span {
          line-height: 33px;
        }
        .comment_reply {
          margin-left: 20px;
          cursor: pointer;
        }
        .comment__heart {
          float: right;
          margin-right: -6px;
        }
      }
      .comment__menu {
        color: $bg;
      }
    }
  }
  .video__comment:hover span.comment__menu {
    color: $grey !important;
  }
  .heart {
    color: #cc4646 !important;
  }
}
// 공용
.video__data,
.video__comment {
  .display_none {
    display: none;
  }
  .menu_box {
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    background-color: #212121;
    padding: 7px 0;
    z-index: 1;
    font-size: 14px;
    line-height: normal;
    ul {
      margin: 0;
    }
    li {
      height: 24px;
      padding: 5px 18px;
      cursor: pointer;
    }
    li:hover {
      background-color: #3b3b3b;
    }
    span {
      margin: 5px;
    }
    .menu_box_text {
      color: white;
    }
  }
  .comment__menu,
  .video__menu {
    float: right;
    position: relative;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-right: -10px;
  }
  .likes {
    margin-left: -2px;
    .fa-star {
      line-height: 33px;
    }
  }
  .fa-star,
  .fa-heart,
  .fa-ellipsis-v,
  .fa-ellipsis-h,
  .fa-user-circle {
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 33px;
    height: 33px;
  }
  .far,
  .fas:not(.fa-search):not(.fa-user-circle) {
    box-sizing: border-box;
    display: inline-block;
    color: $grey;
    &.fa-star,
    &.fa-heart,
    &.fa-ellipsis-v,
    &.fa-ellipsis-h {
      border: 1px solid $bg;
    }
  }
  .far:not(.video__star),
  .fas:not(.heart):not(.video__star):not(.fa-arrow-down) {
    cursor: pointer;
  }
  .far:hover:not(.video__star),
  .fas:hover:not(.fa-pen):not(.fa-trash):not(.heart):not(.video__star):not(.fa-arrow-down):not(.fa-search) {
    color: white !important;
  }
  .click-after {
    animation: blink 0.5s ease-in-out;
  }
  .star {
    color: #fce100 !important;
  }
  .icon_pointer {
    cursor: pointer;
  }
  .icon_pointer:hover {
    color: white !important;
  }

  @keyframes blink {
    0% {
      border: 1px solid #2e2e2e;
      background-color: #2e2e2e;
    }
    30% {
      border: 1px solid #3b3b3b;
      background-color: #0e1117;
    }
    60% {
      border: 1px solid #212121;
    }
    100% {
      border: 1px solid #0e1117;
    }
  }
}
