.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  .video__comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    .comment__userIcon {
      flex: 1;
      div,
      i {
        padding: 5px;
      }
      i {
        font-size: 20px;
        color: $red;
      }
    }
    .comment__else {
      flex: 9;
      div {
        padding: 5px;
      }
      .comment__text {
        word-break: break-all;
      }
      .comment__createdAt {
        text-align: right;
        font-size: 12px;
        color: $grey;
      }
      .comment__icons {
        color: $grey;
        margin: 5px;
        .likes,
        .dislikes,
        .comment__heart {
          margin-right: 15px;
        }
        .fa-thumbs-up:hover,
        .fa-thumbs-down:hover,
        .comment__heart:hover {
          color: #606060;
        }
      }
      .commnet__menu_box {
        display: none;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid $grey;
        background-color: white;
        li {
          margin: 5px;
        }
        span {
          margin: 5px;
        }
        .comment__btn_text {
          color: #606060;
          font-size: 13px;
        }
      }
      .comment__delete {
        font-size: 15px;
      }
      .comment__edit {
        font-size: 13px;
      }
      .comment__menu {
        float: right;
        font-size: 13px;
        line-height: 18px;
      }
      .far,
      .fas {
        color: $grey;
        cursor: pointer;
      }
    }
  }
}
