extends ../base

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="password", name="oldPasswod", placeholder="Old Password")
        input(type="password", name="newPassword", placeholder="New Password")
        input(type="password", name="newPassword1", placeholder="New Password Confirmation")
        input(type="submit", value="Change Password")